{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-8 card rounded-5 mt-5">

      <div class="text-center mt-5">
        <h1>{% trans "Sign Up" %}</h1>

        <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" 
          class="btn btn-sm btn-success px-5">Sign In</a>.{% endblocktrans %}</p>
      </div>

      <div class="text-center mb-5">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn btn-sm btn-success px-5" type="submit">{% trans "Sign Up" %}</button>
        </form>
      </div>

    </div>

    <div class="col-sm-2"></div>
  
  </div>
</div>

{% endblock %}